.journey {
  position: relative;
  display: flex;
  align-items: center;
  width: 1184px;
  min-height: 740px;
  margin: 0 auto 92px;
  background-image: url(../../images/trains.png);
  background-size: cover;
}

.journey:hover > .journey__overlay {
  opacity: .8;
}

@media screen and (max-width: 1200px) {
  .journey {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .journey {
    margin-bottom: 88px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .journey {
    margin-bottom: 64px;
    width: 425px;
    min-height: 266px;
  }
}

@media screen and (max-width: 424px) {
  .journey {
    width: 340px;
    min-height: 212px;
  }
}

@media screen and (max-width: 365px) {
  .journey {
    width: 320px;
    min-height: 200px;
  }
}
