.journey__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.journey__link:hover > .journey__overlay {
  opacity: .8;
}
