.places__list-item + .places__list-item {
  margin-top: 80px;
}

@media screen and (max-width: 970px) {
  .places__list-item + .places__list-item {
    margin-top: 73px;
  }
}

@media screen and (max-width: 750px) {
  .places__list-item + .places__list-item {
    margin-top: 50px;
  }
}
